<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>きゃ</string>
			<key>CorrectAnswer</key>
			<string>Kya</string>
			<key>Answers</key>
			<array>
				<string>Kya</string>
				<string>Kyo</string>
				<string>Nyu</string>
				<string>Byu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>きゅ</string>
			<key>CorrectAnswer</key>
			<string>Kyu</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Ja</string>
				<string>Kyu</string>
				<string>Kya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>きょ</string>
			<key>CorrectAnswer</key>
			<string>Kyo</string>
			<key>Answers</key>
			<array>
				<string>Byu</string>
				<string>Kyo</string>
				<string>Pya</string>
				<string>Pyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>しゃ</string>
			<key>CorrectAnswer</key>
			<string>Sha</string>
			<key>Answers</key>
			<array>
				<string>Sha</string>
				<string>Cha</string>
				<string>Chu</string>
				<string>Shu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>しゅ</string>
			<key>CorrectAnswer</key>
			<string>Shu</string>
			<key>Answers</key>
			<array>
				<string>Gyu</string>
				<string>Shu</string>
				<string>Pya</string>
				<string>Byo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>しょ</string>
			<key>CorrectAnswer</key>
			<string>Sho</string>
			<key>Answers</key>
			<array>
				<string>Hya</string>
				<string>Nyu</string>
				<string>Sho</string>
				<string>Gya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ちゃ</string>
			<key>CorrectAnswer</key>
			<string>Cha</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Cha</string>
				<string>Mya</string>
				<string>Cho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ちゅ</string>
			<key>CorrectAnswer</key>
			<string>Chu</string>
			<key>Answers</key>
			<array>
				<string>Chu</string>
				<string>Shu</string>
				<string>Ju</string>
				<string>Cho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ちょ</string>
			<key>CorrectAnswer</key>
			<string>Cho</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Nyu</string>
				<string>Cho</string>
				<string>Cha</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>にゃ</string>
			<key>CorrectAnswer</key>
			<string>Nya</string>
			<key>Answers</key>
			<array>
				<string>Nyo</string>
				<string>Nya</string>
				<string>Hyu</string>
				<string>Bya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>にゅ</string>
			<key>CorrectAnswer</key>
			<string>Nyu</string>
			<key>Answers</key>
			<array>
				<string>Nyu</string>
				<string>Byu</string>
				<string>Pya</string>
				<string>Myu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>にょ</string>
			<key>CorrectAnswer</key>
			<string>Nyo</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Ju</string>
				<string>Gyo</string>
				<string>Kya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ひゃ</string>
			<key>CorrectAnswer</key>
			<string>Hya</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Pyu</string>
				<string>Hya</string>
				<string>Gyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ひゅ</string>
			<key>CorrectAnswer</key>
			<string>Hyu</string>
			<key>Answers</key>
			<array>
				<string>Hyu</string>
				<string>Sho</string>
				<string>Hya</string>
				<string>Kyu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ひょ</string>
			<key>CorrectAnswer</key>
			<string>Hyo</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Hya</string>
				<string>Ryo</string>
				<string>Hyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>みゃ</string>
			<key>CorrectAnswer</key>
			<string>Mya</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Mya</string>
				<string>Bya</string>
				<string>Nyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>みゅ</string>
			<key>CorrectAnswer</key>
			<string>Myu</string>
			<key>Answers</key>
			<array>
				<string>Cho</string>
				<string>Nyo</string>
				<string>Myu</string>
				<string>Cha</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>みょ</string>
			<key>CorrectAnswer</key>
			<string>Myo</string>
			<key>Answers</key>
			<array>
				<string>Ryo</string>
				<string>Myu</string>
				<string>Mya</string>
				<string>Myo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>りゃ</string>
			<key>CorrectAnswer</key>
			<string>Rya</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pya</string>
				<string>Pyu</string>
				<string>Ryo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>りゅ</string>
			<key>CorrectAnswer</key>
			<string>Ryu</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pya</string>
				<string>Nya</string>
				<string>Ryu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>りょ</string>
			<key>CorrectAnswer</key>
			<string>Ryo</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>ju</string>
				<string>Ryu</string>
				<string>Kyu</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
