<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>が</string>
			<key>CorrectAnswer</key>
			<string>Ga</string>
			<key>Answers</key>
			<array>
				<string>Tsu</string>
				<string>Ga</string>
				<string>Su</string>
				<string>To</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぎ</string>
			<key>CorrectAnswer</key>
			<string>Gi</string>
			<key>Answers</key>
			<array>
				<string>Ne</string>
				<string>Gi</string>
				<string>Pi</string>
				<string>Ga</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぐ</string>
			<key>CorrectAnswer</key>
			<string>Gu</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Po</string>
				<string>Ku</string>
				<string>Gu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>げ</string>
			<key>CorrectAnswer</key>
			<string>Ge</string>
			<key>Answers</key>
			<array>
				<string>Go</string>
				<string>Ko</string>
				<string>Ge</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ご</string>
			<key>CorrectAnswer</key>
			<string>Go</string>
			<key>Answers</key>
			<array>
				<string>Go</string>
				<string>Ga</string>
				<string>To</string>
				<string>Wa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ざ</string>
			<key>CorrectAnswer</key>
			<string>Za</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>To</string>
				<string>Za</string>
				<string>Ko</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>じ</string>
			<key>CorrectAnswer</key>
			<string>Ji</string>
			<key>Answers</key>
			<array>
				<string>Ji</string>
				<string>Zu</string>
				<string>Ne</string>
				<string>To</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ず</string>
			<key>CorrectAnswer</key>
			<string>Zu</string>
			<key>Answers</key>
			<array>
				<string>Nu</string>
				<string>Zu</string>
				<string>Se</string>
				<string>Pu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぜ</string>
			<key>CorrectAnswer</key>
			<string>Ze</string>
			<key>Answers</key>
			<array>
				<string>Ze</string>
				<string>Mi</string>
				<string>Nu</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぞ</string>
			<key>CorrectAnswer</key>
			<string>Zo</string>
			<key>Answers</key>
			<array>
				<string>Ko</string>
				<string>Zo</string>
				<string>Zu</string>
				<string>Ga</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>だ</string>
			<key>CorrectAnswer</key>
			<string>Da</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Ji</string>
				<string>Do</string>
				<string>Da</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぢ</string>
			<key>CorrectAnswer</key>
			<string>Ji</string>
			<key>Answers</key>
			<array>
				<string>Ki</string>
				<string>Se</string>
				<string>Ji</string>
				<string>Ma</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>づ</string>
			<key>CorrectAnswer</key>
			<string>Zu</string>
			<key>Answers</key>
			<array>
				<string>Ma</string>
				<string>Zu</string>
				<string>Sa</string>
				<string>Su</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>で</string>
			<key>CorrectAnswer</key>
			<string>De</string>
			<key>Answers</key>
			<array>
				<string>No</string>
				<string>Su</string>
				<string>He</string>
				<string>De</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ど</string>
			<key>CorrectAnswer</key>
			<string>Do</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ne</string>
				<string>Do</string>
				<string>Te</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ば</string>
			<key>CorrectAnswer</key>
			<string>Ba</string>
			<key>Answers</key>
			<array>
				<string>Ro</string>
				<string>Se</string>
				<string>Bo</string>
				<string>Ki</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>び</string>
			<key>CorrectAnswer</key>
			<string>Bi</string>
			<key>Answers</key>
			<array>
				<string>Bi</string>
				<string>Ha</string>
				<string>Hi</string>
				<string>Ku</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぶ</string>
			<key>CorrectAnswer</key>
			<string>Bu</string>
			<key>Answers</key>
			<array>
				<string>Ra</string>
				<string>Hu</string>
				<string>Bu</string>
				<string>Nu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>べ</string>
			<key>CorrectAnswer</key>
			<string>Be</string>
			<key>Answers</key>
			<array>
				<string>Sa</string>
				<string>Be</string>
				<string>Yo</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぼ</string>
			<key>CorrectAnswer</key>
			<string>Bo</string>
			<key>Answers</key>
			<array>
				<string>Shi</string>
				<string>Bo</string>
				<string>Ho</string>
				<string>Chi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぱ</string>
			<key>CorrectAnswer</key>
			<string>Pa</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Pa</string>
				<string>Tsu</string>
				<string>Su</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぴ</string>
			<key>CorrectAnswer</key>
			<string>Pi</string>
			<key>Answers</key>
			<array>
				<string>Pi</string>
				<string>Mu</string>
				<string>Ni</string>
				<string>Fu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぷ</string>
			<key>CorrectAnswer</key>
			<string>Pu</string>
			<key>Answers</key>
			<array>
				<string>Ka</string>
				<string>Pu</string>
				<string>Wa</string>
				<string>Bu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぺ</string>
			<key>CorrectAnswer</key>
			<string>Pe</string>
			<key>Answers</key>
			<array>
				<string>Pe</string>
				<string>Ra</string>
				<string>Pi</string>
				<string>Pa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ぽ</string>
			<key>CorrectAnswer</key>
			<string>Po</string>
			<key>Answers</key>
			<array>
				<string>Na</string>
				<string>Bu</string>
				<string>Ro</string>
				<string>Po</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
