<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>ア</string>
			<key>CorrectAnswer</key>
			<string>A</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>E</string>
				<string>I</string>
				<string>Su</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>イ</string>
			<key>CorrectAnswer</key>
			<string>I</string>
			<key>Answers</key>
			<array>
				<string>E</string>
				<string>Ge</string>
				<string>Tsu</string>
				<string>I</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ウ</string>
			<key>CorrectAnswer</key>
			<string>U</string>
			<key>Answers</key>
			<array>
				<string>Pa</string>
				<string>Wa</string>
				<string>U</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>エ</string>
			<key>CorrectAnswer</key>
			<string>E</string>
			<key>Answers</key>
			<array>
				<string>E</string>
				<string>Ha</string>
				<string>Mo</string>
				<string>Na</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>オ</string>
			<key>CorrectAnswer</key>
			<string>O</string>
			<key>Answers</key>
			<array>
				<string>O</string>
				<string>E</string>
				<string>I</string>
				<string>Pa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>カ</string>
			<key>CorrectAnswer</key>
			<string>Ka</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ka</string>
				<string>Te</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>キ</string>
			<key>CorrectAnswer</key>
			<string>Ki</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>Ki</string>
				<string>Zu</string>
				<string>Po</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ク</string>
			<key>CorrectAnswer</key>
			<string>Ku</string>
			<key>Answers</key>
			<array>
				<string>Ga</string>
				<string>Wa</string>
				<string>Ru</string>
				<string>Ku</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ケ</string>
			<key>CorrectAnswer</key>
			<string>Ke</string>
			<key>Answers</key>
			<array>
				<string>Ka</string>
				<string>Ke</string>
				<string>Te</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>コ</string>
			<key>CorrectAnswer</key>
			<string>Ko</string>
			<key>Answers</key>
			<array>
				<string>Ko</string>
				<string>Nu</string>
				<string>Mu</string>
				<string>Ku</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>サ</string>
			<key>CorrectAnswer</key>
			<string>Sa</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ne</string>
				<string>Su</string>
				<string>Sa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>シ</string>
			<key>CorrectAnswer</key>
			<string>Shi</string>
			<key>Answers</key>
			<array>
				<string>Ki</string>
				<string>Tsu</string>
				<string>Chi</string>
				<string>Shi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ス</string>
			<key>CorrectAnswer</key>
			<string>Su</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Su</string>
				<string>Tsu</string>
				<string>Ke</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>セ</string>
			<key>CorrectAnswer</key>
			<string>Se</string>
			<key>Answers</key>
			<array>
				<string>giga</string>
				<string>tera</string>
				<string>mega</string>
				<string>ultra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ソ</string>
			<key>CorrectAnswer</key>
			<string>So</string>
			<key>Answers</key>
			<array>
				<string>So</string>
				<string>Se</string>
				<string>Wa</string>
				<string>Wo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>タ</string>
			<key>CorrectAnswer</key>
			<string>Ta</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>A</string>
				<string>O</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チ</string>
			<key>CorrectAnswer</key>
			<string>Chi</string>
			<key>Answers</key>
			<array>
				<string>Ne</string>
				<string>Chi</string>
				<string>Tsu</string>
				<string>Chi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ツ</string>
			<key>CorrectAnswer</key>
			<string>Tsu</string>
			<key>Answers</key>
			<array>
				<string>Ku</string>
				<string>Shi</string>
				<string>Tsu</string>
				<string>Wa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>テ</string>
			<key>CorrectAnswer</key>
			<string>Te</string>
			<key>Answers</key>
			<array>
				<string>To</string>
				<string>Shi</string>
				<string>Te</string>
				<string>Ka</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ト</string>
			<key>CorrectAnswer</key>
			<string>To</string>
			<key>Answers</key>
			<array>
				<string>To</string>
				<string>Ka</string>
				<string>Ta</string>
				<string>Te</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ナ</string>
			<key>CorrectAnswer</key>
			<string>Na</string>
			<key>Answers</key>
			<array>
				<string>Hi</string>
				<string>Na</string>
				<string>To</string>
				<string>Ko</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニ</string>
			<key>CorrectAnswer</key>
			<string>Ni</string>
			<key>Answers</key>
			<array>
				<string>Ni</string>
				<string>Ki</string>
				<string>Ri</string>
				<string>Mi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヌ</string>
			<key>CorrectAnswer</key>
			<string>Nu</string>
			<key>Answers</key>
			<array>
				<string>Nu</string>
				<string>Fu</string>
				<string>Ta</string>
				<string>Na</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ネ</string>
			<key>CorrectAnswer</key>
			<string>Ne</string>
			<key>Answers</key>
			<array>
				<string>Me</string>
				<string>Mo</string>
				<string>Te</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ノ</string>
			<key>CorrectAnswer</key>
			<string>No</string>
			<key>Answers</key>
			<array>
				<string>Ma</string>
				<string>No</string>
				<string>Ho</string>
				<string>Nu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ハ</string>
			<key>CorrectAnswer</key>
			<string>Ha</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ha</string>
				<string>Mu</string>
				<string>Mi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒ</string>
			<key>CorrectAnswer</key>
			<string>Hi</string>
			<key>Answers</key>
			<array>
				<string>Hi</string>
				<string>Ma</string>
				<string>To</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>フ</string>
			<key>CorrectAnswer</key>
			<string>Fu</string>
			<key>Answers</key>
			<array>
				<string>Chi</string>
				<string>Tsu</string>
				<string>To</string>
				<string>Fu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヘ</string>
			<key>CorrectAnswer</key>
			<string>He</string>
			<key>Answers</key>
			<array>
				<string>Na</string>
				<string>Ho</string>
				<string>No</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ホ</string>
			<key>CorrectAnswer</key>
			<string>Ho</string>
			<key>Answers</key>
			<array>
				<string>Ku</string>
				<string>Ho</string>
				<string>Shi</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>マ</string>
			<key>CorrectAnswer</key>
			<string>Ma</string>
			<key>Answers</key>
			<array>
				<string>Ma</string>
				<string>Mu</string>
				<string>Te</string>
				<string>To</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミ</string>
			<key>CorrectAnswer</key>
			<string>Mi</string>
			<key>Answers</key>
			<array>
				<string>Ha</string>
				<string>To</string>
				<string>Mi</string>
				<string>Wo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ム</string>
			<key>CorrectAnswer</key>
			<string>Mu</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Mu</string>
				<string>Tsu</string>
				<string>Nu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>メ</string>
			<key>CorrectAnswer</key>
			<string>Me</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Mu</string>
				<string>Ne</string>
				<string>Me</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>モ</string>
			<key>CorrectAnswer</key>
			<string>Mo</string>
			<key>Answers</key>
			<array>
				<string>Mu</string>
				<string>Mo</string>
				<string>No</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヤ</string>
			<key>CorrectAnswer</key>
			<string>Ya</string>
			<key>Answers</key>
			<array>
				<string>Hi</string>
				<string>Ya</string>
				<string>Fu</string>
				<string>Mu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ユ</string>
			<key>CorrectAnswer</key>
			<string>Yu</string>
			<key>Answers</key>
			<array>
				<string>We</string>
				<string>Ru</string>
				<string>Yu</string>
				<string>Ra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヨ</string>
			<key>CorrectAnswer</key>
			<string>Yo</string>
			<key>Answers</key>
			<array>
				<string>No</string>
				<string>Ya</string>
				<string>Wa</string>
				<string>Yo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ラ</string>
			<key>CorrectAnswer</key>
			<string>Ra</string>
			<key>Answers</key>
			<array>
				<string>Ko</string>
				<string>Ge</string>
				<string>Mu</string>
				<string>Ra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リ</string>
			<key>CorrectAnswer</key>
			<string>Ri</string>
			<key>Answers</key>
			<array>
				<string>Ki</string>
				<string>Si</string>
				<string>Ri</string>
				<string>Ni</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ル</string>
			<key>CorrectAnswer</key>
			<string>Ru</string>
			<key>Answers</key>
			<array>
				<string>Po</string>
				<string>Ha</string>
				<string>Ru</string>
				<string>Ho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>レ</string>
			<key>CorrectAnswer</key>
			<string>Re</string>
			<key>Answers</key>
			<array>
				<string>He</string>
				<string>Re</string>
				<string>Tsu</string>
				<string>Ra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ロ</string>
			<key>CorrectAnswer</key>
			<string>Ro</string>
			<key>Answers</key>
			<array>
				<string>Ro</string>
				<string>Ri</string>
				<string>Su</string>
				<string>Chi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ワ</string>
			<key>CorrectAnswer</key>
			<string>Wa</string>
			<key>Answers</key>
			<array>
				<string>Ra</string>
				<string>Ru</string>
				<string>Sa</string>
				<string>Wa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヲ</string>
			<key>CorrectAnswer</key>
			<string>Wo</string>
			<key>Answers</key>
			<array>
				<string>Wa</string>
				<string>Yo</string>
				<string>Wo</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ン</string>
			<key>CorrectAnswer</key>
			<string>N</string>
			<key>Answers</key>
			<array>
				<string>N</string>
				<string>Sa</string>
				<string>Wa</string>
				<string>Ko</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ガ</string>
			<key>CorrectAnswer</key>
			<string>Ga</string>
			<key>Answers</key>
			<array>
				<string>Tsu</string>
				<string>Ga</string>
				<string>Su</string>
				<string>To</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギ</string>
			<key>CorrectAnswer</key>
			<string>Gi</string>
			<key>Answers</key>
			<array>
				<string>Ne</string>
				<string>Gi</string>
				<string>Pi</string>
				<string>Ga</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>グ</string>
			<key>CorrectAnswer</key>
			<string>Gu</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Po</string>
				<string>Ku</string>
				<string>Gu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ゲ</string>
			<key>CorrectAnswer</key>
			<string>Ge</string>
			<key>Answers</key>
			<array>
				<string>Go</string>
				<string>Ko</string>
				<string>Ge</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ゴ</string>
			<key>CorrectAnswer</key>
			<string>Go</string>
			<key>Answers</key>
			<array>
				<string>Go</string>
				<string>Ga</string>
				<string>To</string>
				<string>Wa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ザ</string>
			<key>CorrectAnswer</key>
			<string>Za</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>To</string>
				<string>Za</string>
				<string>Ko</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジ</string>
			<key>CorrectAnswer</key>
			<string>Ji</string>
			<key>Answers</key>
			<array>
				<string>Ji</string>
				<string>Zu</string>
				<string>Ne</string>
				<string>To</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ズ</string>
			<key>CorrectAnswer</key>
			<string>Zu</string>
			<key>Answers</key>
			<array>
				<string>Nu</string>
				<string>Zu</string>
				<string>Se</string>
				<string>Pu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ゼ</string>
			<key>CorrectAnswer</key>
			<string>Ze</string>
			<key>Answers</key>
			<array>
				<string>Ze</string>
				<string>Mi</string>
				<string>Nu</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ゾ</string>
			<key>CorrectAnswer</key>
			<string>Zo</string>
			<key>Answers</key>
			<array>
				<string>Ko</string>
				<string>Zo</string>
				<string>Zu</string>
				<string>Ga</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ダ</string>
			<key>CorrectAnswer</key>
			<string>Da</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Ji</string>
				<string>Do</string>
				<string>Da</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂ</string>
			<key>CorrectAnswer</key>
			<string>(Ji)</string>
			<key>Answers</key>
			<array>
				<string>Ki</string>
				<string>Se</string>
				<string>(Ji)</string>
				<string>Ma</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヅ</string>
			<key>CorrectAnswer</key>
			<string>(Zu)</string>
			<key>Answers</key>
			<array>
				<string>Ma</string>
				<string>(Zu)</string>
				<string>Sa</string>
				<string>Su</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>デ</string>
			<key>CorrectAnswer</key>
			<string>De</string>
			<key>Answers</key>
			<array>
				<string>No</string>
				<string>Su</string>
				<string>He</string>
				<string>De</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ド</string>
			<key>CorrectAnswer</key>
			<string>Do</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ne</string>
				<string>Do</string>
				<string>Te</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>バ</string>
			<key>CorrectAnswer</key>
			<string>Ba</string>
			<key>Answers</key>
			<array>
				<string>Ro</string>
				<string>Se</string>
				<string>Bo</string>
				<string>Ki</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビ</string>
			<key>CorrectAnswer</key>
			<string>Bi</string>
			<key>Answers</key>
			<array>
				<string>Bi</string>
				<string>Ha</string>
				<string>Hi</string>
				<string>Ku</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ブ</string>
			<key>CorrectAnswer</key>
			<string>Bu</string>
			<key>Answers</key>
			<array>
				<string>Ra</string>
				<string>Hu</string>
				<string>Bu</string>
				<string>Nu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ベ</string>
			<key>CorrectAnswer</key>
			<string>Be</string>
			<key>Answers</key>
			<array>
				<string>Sa</string>
				<string>Be</string>
				<string>Yo</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ボ</string>
			<key>CorrectAnswer</key>
			<string>Bo</string>
			<key>Answers</key>
			<array>
				<string>Shi</string>
				<string>Bo</string>
				<string>Ho</string>
				<string>Chi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>パ</string>
			<key>CorrectAnswer</key>
			<string>Pa</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Pa</string>
				<string>Tsu</string>
				<string>Su</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピ</string>
			<key>CorrectAnswer</key>
			<string>Pi</string>
			<key>Answers</key>
			<array>
				<string>Pi</string>
				<string>Mu</string>
				<string>Ni</string>
				<string>Fu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>プ</string>
			<key>CorrectAnswer</key>
			<string>Pu</string>
			<key>Answers</key>
			<array>
				<string>Ka</string>
				<string>Pu</string>
				<string>Wa</string>
				<string>Bu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ペ</string>
			<key>CorrectAnswer</key>
			<string>Pe</string>
			<key>Answers</key>
			<array>
				<string>Pe</string>
				<string>Ra</string>
				<string>Pi</string>
				<string>Pa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ポ</string>
			<key>CorrectAnswer</key>
			<string>Po</string>
			<key>Answers</key>
			<array>
				<string>Na</string>
				<string>Bu</string>
				<string>Ro</string>
				<string>Po</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>キャ</string>
			<key>CorrectAnswer</key>
			<string>Kya</string>
			<key>Answers</key>
			<array>
				<string>Kya</string>
				<string>Kyo</string>
				<string>Nyu</string>
				<string>Byu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>キュ</string>
			<key>CorrectAnswer</key>
			<string>Kyu</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Ja</string>
				<string>Kyu</string>
				<string>Kya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>キョ</string>
			<key>CorrectAnswer</key>
			<string>Kyo</string>
			<key>Answers</key>
			<array>
				<string>Byu</string>
				<string>Kyo</string>
				<string>Pya</string>
				<string>Pyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>シャ</string>
			<key>CorrectAnswer</key>
			<string>Sha</string>
			<key>Answers</key>
			<array>
				<string>Sha</string>
				<string>Cha</string>
				<string>Chu</string>
				<string>Shu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>シュ</string>
			<key>CorrectAnswer</key>
			<string>Shu</string>
			<key>Answers</key>
			<array>
				<string>Gyu</string>
				<string>Shu</string>
				<string>Pya</string>
				<string>Byo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ショ</string>
			<key>CorrectAnswer</key>
			<string>Sho</string>
			<key>Answers</key>
			<array>
				<string>Hya</string>
				<string>Nyu</string>
				<string>Sho</string>
				<string>Gya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チャ</string>
			<key>CorrectAnswer</key>
			<string>Cha</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Cha</string>
				<string>Mya</string>
				<string>Cho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チュ</string>
			<key>CorrectAnswer</key>
			<string>Chu</string>
			<key>Answers</key>
			<array>
				<string>Chu</string>
				<string>Shu</string>
				<string>Ju</string>
				<string>Cho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チョ</string>
			<key>CorrectAnswer</key>
			<string>Cho</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Nyu</string>
				<string>Cho</string>
				<string>Cha</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニャ</string>
			<key>CorrectAnswer</key>
			<string>Nya</string>
			<key>Answers</key>
			<array>
				<string>Nyo</string>
				<string>Nya</string>
				<string>Hyu</string>
				<string>Bya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニュ</string>
			<key>CorrectAnswer</key>
			<string>Nyu</string>
			<key>Answers</key>
			<array>
				<string>Nyu</string>
				<string>Byu</string>
				<string>Pya</string>
				<string>Myu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニョ</string>
			<key>CorrectAnswer</key>
			<string>Nyo</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Ju</string>
				<string>Gyo</string>
				<string>Kya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒャ</string>
			<key>CorrectAnswer</key>
			<string>Hya</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Pyu</string>
				<string>Hya</string>
				<string>Gyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒュ</string>
			<key>CorrectAnswer</key>
			<string>Hyu</string>
			<key>Answers</key>
			<array>
				<string>Hyu</string>
				<string>Sho</string>
				<string>Hya</string>
				<string>Kyu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒョ</string>
			<key>CorrectAnswer</key>
			<string>Hyo</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Hya</string>
				<string>Ryo</string>
				<string>Hyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミャ</string>
			<key>CorrectAnswer</key>
			<string>Mya</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Mya</string>
				<string>Bya</string>
				<string>Nyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミュ</string>
			<key>CorrectAnswer</key>
			<string>Myu</string>
			<key>Answers</key>
			<array>
				<string>Cho</string>
				<string>Nyo</string>
				<string>Myu</string>
				<string>Cha</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミョ</string>
			<key>CorrectAnswer</key>
			<string>Myo</string>
			<key>Answers</key>
			<array>
				<string>Ryo</string>
				<string>Myu</string>
				<string>Mya</string>
				<string>Myo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リャ</string>
			<key>CorrectAnswer</key>
			<string>Rya</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pya</string>
				<string>Pyu</string>
				<string>Ryo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リュ</string>
			<key>CorrectAnswer</key>
			<string>Ryu</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pya</string>
				<string>Nya</string>
				<string>Ryu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リョ</string>
			<key>CorrectAnswer</key>
			<string>Ryo</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>ju</string>
				<string>Ryu</string>
				<string>Kyu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギャ</string>
			<key>CorrectAnswer</key>
			<string>Gya</string>
			<key>Answers</key>
			<array>
				<string>Gyu</string>
				<string>Byo</string>
				<string>Gya</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギュ</string>
			<key>CorrectAnswer</key>
			<string>Gyu</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Gyu</string>
				<string>Pya</string>
				<string>(jo)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギョ</string>
			<key>CorrectAnswer</key>
			<string>Gyo</string>
			<key>Answers</key>
			<array>
				<string>Gyo</string>
				<string>Byu</string>
				<string>Ju</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジャ</string>
			<key>CorrectAnswer</key>
			<string>Ja</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Jo</string>
				<string>(ja)</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジュ</string>
			<key>CorrectAnswer</key>
			<string>Ju</string>
			<key>Answers</key>
			<array>
				<string>Ju</string>
				<string>Byu</string>
				<string>Pyu</string>
				<string>(ju)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジョ</string>
			<key>CorrectAnswer</key>
			<string>Jo</string>
			<key>Answers</key>
			<array>
				<string>Ryu</string>
				<string>Ryo</string>
				<string>Ja</string>
				<string>Jo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂャ</string>
			<key>CorrectAnswer</key>
			<string>(ja)</string>
			<key>Answers</key>
			<array>
				<string>(jo)</string>
				<string>Ju</string>
				<string>Gyu</string>
				<string>(ja)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂュ</string>
			<key>CorrectAnswer</key>
			<string>(ju)</string>
			<key>Answers</key>
			<array>
				<string>Hyu</string>
				<string>Hya</string>
				<string>(ju)</string>
				<string>Ju</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂョ</string>
			<key>CorrectAnswer</key>
			<string>(jo)</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Chu</string>
				<string>Sho</string>
				<string>(jo)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビャ</string>
			<key>CorrectAnswer</key>
			<string>Bya</string>
			<key>Answers</key>
			<array>
				<string>Nya</string>
				<string>Sha</string>
				<string>Hyu</string>
				<string>Bya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビュ</string>
			<key>CorrectAnswer</key>
			<string>Byu</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pyu</string>
				<string>Byu</string>
				<string>Jo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビョ</string>
			<key>CorrectAnswer</key>
			<string>Byo</string>
			<key>Answers</key>
			<array>
				<string>Gya</string>
				<string>Byo</string>
				<string>Bya</string>
				<string>Ryo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピャ</string>
			<key>CorrectAnswer</key>
			<string>Pya</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>Pya</string>
				<string>(ju)</string>
				<string>Byo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピュ</string>
			<key>CorrectAnswer</key>
			<string>Pyu</string>
			<key>Answers</key>
			<array>
				<string>Byu</string>
				<string>Pyo</string>
				<string>Pyu</string>
				<string>Ryu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピョ</string>
			<key>CorrectAnswer</key>
			<string>Pyo</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>Jo</string>
				<string>Shu</string>
				<string>Pyo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
