<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>ア</string>
			<key>CorrectAnswer</key>
			<string>A</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>E</string>
				<string>I</string>
				<string>Su</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>イ</string>
			<key>CorrectAnswer</key>
			<string>I</string>
			<key>Answers</key>
			<array>
				<string>E</string>
				<string>Ge</string>
				<string>Tsu</string>
				<string>I</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ウ</string>
			<key>CorrectAnswer</key>
			<string>U</string>
			<key>Answers</key>
			<array>
				<string>Pa</string>
				<string>Wa</string>
				<string>U</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>エ</string>
			<key>CorrectAnswer</key>
			<string>E</string>
			<key>Answers</key>
			<array>
				<string>E</string>
				<string>Ha</string>
				<string>Mo</string>
				<string>Na</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>オ</string>
			<key>CorrectAnswer</key>
			<string>O</string>
			<key>Answers</key>
			<array>
				<string>O</string>
				<string>E</string>
				<string>I</string>
				<string>Pa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>カ</string>
			<key>CorrectAnswer</key>
			<string>Ka</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ka</string>
				<string>Te</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>キ</string>
			<key>CorrectAnswer</key>
			<string>Ki</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>Ki</string>
				<string>Zu</string>
				<string>Po</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ク</string>
			<key>CorrectAnswer</key>
			<string>Ku</string>
			<key>Answers</key>
			<array>
				<string>Ga</string>
				<string>Wa</string>
				<string>Ru</string>
				<string>Ku</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ケ</string>
			<key>CorrectAnswer</key>
			<string>Ke</string>
			<key>Answers</key>
			<array>
				<string>Ka</string>
				<string>Ke</string>
				<string>Te</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>コ</string>
			<key>CorrectAnswer</key>
			<string>Ko</string>
			<key>Answers</key>
			<array>
				<string>Ko</string>
				<string>Nu</string>
				<string>Mu</string>
				<string>Ku</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>サ</string>
			<key>CorrectAnswer</key>
			<string>Sa</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ne</string>
				<string>Su</string>
				<string>Sa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>シ</string>
			<key>CorrectAnswer</key>
			<string>Shi</string>
			<key>Answers</key>
			<array>
				<string>Ki</string>
				<string>Tsu</string>
				<string>Chi</string>
				<string>Shi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ス</string>
			<key>CorrectAnswer</key>
			<string>Su</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Su</string>
				<string>Tsu</string>
				<string>Ke</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>セ</string>
			<key>CorrectAnswer</key>
			<string>Se</string>
			<key>Answers</key>
			<array>
				<string>giga</string>
				<string>tera</string>
				<string>mega</string>
				<string>ultra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ソ</string>
			<key>CorrectAnswer</key>
			<string>So</string>
			<key>Answers</key>
			<array>
				<string>So</string>
				<string>Se</string>
				<string>Wa</string>
				<string>Wo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>タ</string>
			<key>CorrectAnswer</key>
			<string>Ta</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>A</string>
				<string>O</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チ</string>
			<key>CorrectAnswer</key>
			<string>Chi</string>
			<key>Answers</key>
			<array>
				<string>Ne</string>
				<string>Chi</string>
				<string>Tsu</string>
				<string>Chi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ツ</string>
			<key>CorrectAnswer</key>
			<string>Tsu</string>
			<key>Answers</key>
			<array>
				<string>Ku</string>
				<string>Shi</string>
				<string>Tsu</string>
				<string>Wa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>テ</string>
			<key>CorrectAnswer</key>
			<string>Te</string>
			<key>Answers</key>
			<array>
				<string>To</string>
				<string>Shi</string>
				<string>Te</string>
				<string>Ka</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ト</string>
			<key>CorrectAnswer</key>
			<string>To</string>
			<key>Answers</key>
			<array>
				<string>To</string>
				<string>Ka</string>
				<string>Ta</string>
				<string>Te</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ナ</string>
			<key>CorrectAnswer</key>
			<string>Na</string>
			<key>Answers</key>
			<array>
				<string>Hi</string>
				<string>Na</string>
				<string>To</string>
				<string>Ko</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニ</string>
			<key>CorrectAnswer</key>
			<string>Ni</string>
			<key>Answers</key>
			<array>
				<string>Ni</string>
				<string>Ki</string>
				<string>Ri</string>
				<string>Mi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヌ</string>
			<key>CorrectAnswer</key>
			<string>Nu</string>
			<key>Answers</key>
			<array>
				<string>Nu</string>
				<string>Fu</string>
				<string>Ta</string>
				<string>Na</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ネ</string>
			<key>CorrectAnswer</key>
			<string>Ne</string>
			<key>Answers</key>
			<array>
				<string>Me</string>
				<string>Mo</string>
				<string>Te</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ノ</string>
			<key>CorrectAnswer</key>
			<string>No</string>
			<key>Answers</key>
			<array>
				<string>Ma</string>
				<string>No</string>
				<string>Ho</string>
				<string>Nu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ハ</string>
			<key>CorrectAnswer</key>
			<string>Ha</string>
			<key>Answers</key>
			<array>
				<string>Ta</string>
				<string>Ha</string>
				<string>Mu</string>
				<string>Mi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒ</string>
			<key>CorrectAnswer</key>
			<string>Hi</string>
			<key>Answers</key>
			<array>
				<string>Hi</string>
				<string>Ma</string>
				<string>To</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>フ</string>
			<key>CorrectAnswer</key>
			<string>Fu</string>
			<key>Answers</key>
			<array>
				<string>Chi</string>
				<string>Tsu</string>
				<string>To</string>
				<string>Fu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヘ</string>
			<key>CorrectAnswer</key>
			<string>He</string>
			<key>Answers</key>
			<array>
				<string>Na</string>
				<string>Ho</string>
				<string>No</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ホ</string>
			<key>CorrectAnswer</key>
			<string>Ho</string>
			<key>Answers</key>
			<array>
				<string>Ku</string>
				<string>Ho</string>
				<string>Shi</string>
				<string>Se</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>マ</string>
			<key>CorrectAnswer</key>
			<string>Ma</string>
			<key>Answers</key>
			<array>
				<string>Ma</string>
				<string>Mu</string>
				<string>Te</string>
				<string>To</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミ</string>
			<key>CorrectAnswer</key>
			<string>Mi</string>
			<key>Answers</key>
			<array>
				<string>Ha</string>
				<string>To</string>
				<string>Mi</string>
				<string>Wo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ム</string>
			<key>CorrectAnswer</key>
			<string>Mu</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Mu</string>
				<string>Tsu</string>
				<string>Nu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>メ</string>
			<key>CorrectAnswer</key>
			<string>Me</string>
			<key>Answers</key>
			<array>
				<string>Se</string>
				<string>Mu</string>
				<string>Ne</string>
				<string>Me</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>モ</string>
			<key>CorrectAnswer</key>
			<string>Mo</string>
			<key>Answers</key>
			<array>
				<string>Mu</string>
				<string>Mo</string>
				<string>No</string>
				<string>Ne</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヤ</string>
			<key>CorrectAnswer</key>
			<string>Ya</string>
			<key>Answers</key>
			<array>
				<string>Hi</string>
				<string>Ya</string>
				<string>Fu</string>
				<string>Mu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ユ</string>
			<key>CorrectAnswer</key>
			<string>Yu</string>
			<key>Answers</key>
			<array>
				<string>We</string>
				<string>Ru</string>
				<string>Yu</string>
				<string>Ra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヨ</string>
			<key>CorrectAnswer</key>
			<string>Yo</string>
			<key>Answers</key>
			<array>
				<string>No</string>
				<string>Ya</string>
				<string>Wa</string>
				<string>Yo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ラ</string>
			<key>CorrectAnswer</key>
			<string>Ra</string>
			<key>Answers</key>
			<array>
				<string>Ko</string>
				<string>Ge</string>
				<string>Mu</string>
				<string>Ra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リ</string>
			<key>CorrectAnswer</key>
			<string>Ri</string>
			<key>Answers</key>
			<array>
				<string>Ki</string>
				<string>Si</string>
				<string>Ri</string>
				<string>Ni</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ル</string>
			<key>CorrectAnswer</key>
			<string>Ru</string>
			<key>Answers</key>
			<array>
				<string>Po</string>
				<string>Ha</string>
				<string>Ru</string>
				<string>Ho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>レ</string>
			<key>CorrectAnswer</key>
			<string>Re</string>
			<key>Answers</key>
			<array>
				<string>He</string>
				<string>Re</string>
				<string>Tsu</string>
				<string>Ra</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ロ</string>
			<key>CorrectAnswer</key>
			<string>Ro</string>
			<key>Answers</key>
			<array>
				<string>Ro</string>
				<string>Ri</string>
				<string>Su</string>
				<string>Chi</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ワ</string>
			<key>CorrectAnswer</key>
			<string>Wa</string>
			<key>Answers</key>
			<array>
				<string>Ra</string>
				<string>Ru</string>
				<string>Sa</string>
				<string>Wa</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヲ</string>
			<key>CorrectAnswer</key>
			<string>Wo</string>
			<key>Answers</key>
			<array>
				<string>Wa</string>
				<string>Yo</string>
				<string>Wo</string>
				<string>He</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ン</string>
			<key>CorrectAnswer</key>
			<string>N</string>
			<key>Answers</key>
			<array>
				<string>N</string>
				<string>Sa</string>
				<string>Wa</string>
				<string>Ko</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
