<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>キャ</string>
			<key>CorrectAnswer</key>
			<string>Kya</string>
			<key>Answers</key>
			<array>
				<string>Kya</string>
				<string>Kyo</string>
				<string>Nyu</string>
				<string>Byu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>キュ</string>
			<key>CorrectAnswer</key>
			<string>Kyu</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Ja</string>
				<string>Kyu</string>
				<string>Kya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>キョ</string>
			<key>CorrectAnswer</key>
			<string>Kyo</string>
			<key>Answers</key>
			<array>
				<string>Byu</string>
				<string>Kyo</string>
				<string>Pya</string>
				<string>Pyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>シャ</string>
			<key>CorrectAnswer</key>
			<string>Sha</string>
			<key>Answers</key>
			<array>
				<string>Sha</string>
				<string>Cha</string>
				<string>Chu</string>
				<string>Shu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>シュ</string>
			<key>CorrectAnswer</key>
			<string>Shu</string>
			<key>Answers</key>
			<array>
				<string>Gyu</string>
				<string>Shu</string>
				<string>Pya</string>
				<string>Byo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ショ</string>
			<key>CorrectAnswer</key>
			<string>Sho</string>
			<key>Answers</key>
			<array>
				<string>Hya</string>
				<string>Nyu</string>
				<string>Sho</string>
				<string>Gya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チャ</string>
			<key>CorrectAnswer</key>
			<string>Cha</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Cha</string>
				<string>Mya</string>
				<string>Cho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チュ</string>
			<key>CorrectAnswer</key>
			<string>Chu</string>
			<key>Answers</key>
			<array>
				<string>Chu</string>
				<string>Shu</string>
				<string>Ju</string>
				<string>Cho</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>チョ</string>
			<key>CorrectAnswer</key>
			<string>Cho</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Nyu</string>
				<string>Cho</string>
				<string>Cha</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニャ</string>
			<key>CorrectAnswer</key>
			<string>Nya</string>
			<key>Answers</key>
			<array>
				<string>Nyo</string>
				<string>Nya</string>
				<string>Hyu</string>
				<string>Bya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニュ</string>
			<key>CorrectAnswer</key>
			<string>Nyu</string>
			<key>Answers</key>
			<array>
				<string>Nyu</string>
				<string>Byu</string>
				<string>Pya</string>
				<string>Myu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ニョ</string>
			<key>CorrectAnswer</key>
			<string>Nyo</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Ju</string>
				<string>Gyo</string>
				<string>Kya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒャ</string>
			<key>CorrectAnswer</key>
			<string>Hya</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Pyu</string>
				<string>Hya</string>
				<string>Gyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒュ</string>
			<key>CorrectAnswer</key>
			<string>Hyu</string>
			<key>Answers</key>
			<array>
				<string>Hyu</string>
				<string>Sho</string>
				<string>Hya</string>
				<string>Kyu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヒョ</string>
			<key>CorrectAnswer</key>
			<string>Hyo</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Hya</string>
				<string>Ryo</string>
				<string>Hyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミャ</string>
			<key>CorrectAnswer</key>
			<string>Mya</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Mya</string>
				<string>Bya</string>
				<string>Nyo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミュ</string>
			<key>CorrectAnswer</key>
			<string>Myu</string>
			<key>Answers</key>
			<array>
				<string>Cho</string>
				<string>Nyo</string>
				<string>Myu</string>
				<string>Cha</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ミョ</string>
			<key>CorrectAnswer</key>
			<string>Myo</string>
			<key>Answers</key>
			<array>
				<string>Ryo</string>
				<string>Myu</string>
				<string>Mya</string>
				<string>Myo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リャ</string>
			<key>CorrectAnswer</key>
			<string>Rya</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pya</string>
				<string>Pyu</string>
				<string>Ryo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リュ</string>
			<key>CorrectAnswer</key>
			<string>Ryu</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pya</string>
				<string>Nya</string>
				<string>Ryu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>リョ</string>
			<key>CorrectAnswer</key>
			<string>Ryo</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>ju</string>
				<string>Ryu</string>
				<string>Kyu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギャ</string>
			<key>CorrectAnswer</key>
			<string>Gya</string>
			<key>Answers</key>
			<array>
				<string>Gyu</string>
				<string>Byo</string>
				<string>Gya</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギュ</string>
			<key>CorrectAnswer</key>
			<string>Gyu</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Gyu</string>
				<string>Pya</string>
				<string>(jo)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギョ</string>
			<key>CorrectAnswer</key>
			<string>Gyo</string>
			<key>Answers</key>
			<array>
				<string>Gyo</string>
				<string>Byu</string>
				<string>Ju</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジャ</string>
			<key>CorrectAnswer</key>
			<string>Ja</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Jo</string>
				<string>(ja)</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジュ</string>
			<key>CorrectAnswer</key>
			<string>Ju</string>
			<key>Answers</key>
			<array>
				<string>Ju</string>
				<string>Byu</string>
				<string>Pyu</string>
				<string>(ju)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジョ</string>
			<key>CorrectAnswer</key>
			<string>Jo</string>
			<key>Answers</key>
			<array>
				<string>Ryu</string>
				<string>Ryo</string>
				<string>Ja</string>
				<string>Jo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂャ</string>
			<key>CorrectAnswer</key>
			<string>(ja)</string>
			<key>Answers</key>
			<array>
				<string>(jo)</string>
				<string>Ju</string>
				<string>Gyu</string>
				<string>(ja)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂュ</string>
			<key>CorrectAnswer</key>
			<string>(ju)</string>
			<key>Answers</key>
			<array>
				<string>Hyu</string>
				<string>Hya</string>
				<string>(ju)</string>
				<string>Ju</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂョ</string>
			<key>CorrectAnswer</key>
			<string>(jo)</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Chu</string>
				<string>Sho</string>
				<string>(jo)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビャ</string>
			<key>CorrectAnswer</key>
			<string>Bya</string>
			<key>Answers</key>
			<array>
				<string>Nya</string>
				<string>Sha</string>
				<string>Hyu</string>
				<string>Bya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビュ</string>
			<key>CorrectAnswer</key>
			<string>Byu</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pyu</string>
				<string>Byu</string>
				<string>Jo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビョ</string>
			<key>CorrectAnswer</key>
			<string>Byo</string>
			<key>Answers</key>
			<array>
				<string>Gya</string>
				<string>Byo</string>
				<string>Bya</string>
				<string>Ryo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピャ</string>
			<key>CorrectAnswer</key>
			<string>Pya</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>Pya</string>
				<string>(ju)</string>
				<string>Byo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピュ</string>
			<key>CorrectAnswer</key>
			<string>Pyu</string>
			<key>Answers</key>
			<array>
				<string>Byu</string>
				<string>Pyo</string>
				<string>Pyu</string>
				<string>Ryu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピョ</string>
			<key>CorrectAnswer</key>
			<string>Pyo</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>Jo</string>
				<string>Shu</string>
				<string>Pyo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
