<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>ギャ</string>
			<key>CorrectAnswer</key>
			<string>Gya</string>
			<key>Answers</key>
			<array>
				<string>Gyu</string>
				<string>Byo</string>
				<string>Gya</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギュ</string>
			<key>CorrectAnswer</key>
			<string>Gyu</string>
			<key>Answers</key>
			<array>
				<string>Bya</string>
				<string>Gyu</string>
				<string>Pya</string>
				<string>(jo)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ギョ</string>
			<key>CorrectAnswer</key>
			<string>Gyo</string>
			<key>Answers</key>
			<array>
				<string>Gyo</string>
				<string>Byu</string>
				<string>Ju</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジャ</string>
			<key>CorrectAnswer</key>
			<string>Ja</string>
			<key>Answers</key>
			<array>
				<string>Ja</string>
				<string>Jo</string>
				<string>(ja)</string>
				<string>Pya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジュ</string>
			<key>CorrectAnswer</key>
			<string>Ju</string>
			<key>Answers</key>
			<array>
				<string>Ju</string>
				<string>Byu</string>
				<string>Pyu</string>
				<string>(ju)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ジョ</string>
			<key>CorrectAnswer</key>
			<string>Jo</string>
			<key>Answers</key>
			<array>
				<string>Ryu</string>
				<string>Ryo</string>
				<string>Ja</string>
				<string>Jo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂャ</string>
			<key>CorrectAnswer</key>
			<string>(ja)</string>
			<key>Answers</key>
			<array>
				<string>(jo)</string>
				<string>Ju</string>
				<string>Gyu</string>
				<string>(ja)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂュ</string>
			<key>CorrectAnswer</key>
			<string>(ju)</string>
			<key>Answers</key>
			<array>
				<string>Hyu</string>
				<string>Hya</string>
				<string>(ju)</string>
				<string>Ju</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ヂョ</string>
			<key>CorrectAnswer</key>
			<string>(jo)</string>
			<key>Answers</key>
			<array>
				<string>Myu</string>
				<string>Chu</string>
				<string>Sho</string>
				<string>(jo)</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビャ</string>
			<key>CorrectAnswer</key>
			<string>Bya</string>
			<key>Answers</key>
			<array>
				<string>Nya</string>
				<string>Sha</string>
				<string>Hyu</string>
				<string>Bya</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビュ</string>
			<key>CorrectAnswer</key>
			<string>Byu</string>
			<key>Answers</key>
			<array>
				<string>Rya</string>
				<string>Pyu</string>
				<string>Byu</string>
				<string>Jo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ビョ</string>
			<key>CorrectAnswer</key>
			<string>Byo</string>
			<key>Answers</key>
			<array>
				<string>Gya</string>
				<string>Byo</string>
				<string>Bya</string>
				<string>Ryo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピャ</string>
			<key>CorrectAnswer</key>
			<string>Pya</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>Pya</string>
				<string>(ju)</string>
				<string>Byo</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピュ</string>
			<key>CorrectAnswer</key>
			<string>Pyu</string>
			<key>Answers</key>
			<array>
				<string>Byu</string>
				<string>Pyo</string>
				<string>Pyu</string>
				<string>Ryu</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ピョ</string>
			<key>CorrectAnswer</key>
			<string>Pyo</string>
			<key>Answers</key>
			<array>
				<string>(ja)</string>
				<string>Jo</string>
				<string>Shu</string>
				<string>Pyo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
