<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	 <key>Questions</key>
	 <array>
	  <dict>
	   <key>Question</key>
	   <string>あ</string>
	   <key>CorrectAnswer</key>
	   <string>A</string>
	   <key>Answers</key>
	   <array>
	    <string>A</string>
	    <string>E</string>
	    <string>I</string>
	    <string>Su</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>い</string>
	   <key>CorrectAnswer</key>
	   <string>I</string>
	   <key>Answers</key>
	   <array>
	    <string>E</string>
	    <string>Ge</string>
	    <string>Tsu</string>
	    <string>I</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>う</string> 
	   <key>CorrectAnswer</key>
	   <string>U</string>
	   <key>Answers</key>
	   <array>
	    <string>Pa</string>
	    <string>Wa</string>
	    <string>U</string>
	    <string>Ne</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>え</string>
	   <key>CorrectAnswer</key>
	   <string>E</string>
	   <key>Answers</key>
	   <array>
	    <string>E</string>
	    <string>Ha</string>
	    <string>Mo</string>
	    <string>Na</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>お</string>
	   <key>CorrectAnswer</key>
	   <string>O</string>
	   <key>Answers</key>
	   <array>
	    <string>O</string>
	    <string>E</string>
	    <string>I</string>
	    <string>Pa</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>か</string>
	   <key>CorrectAnswer</key>
	   <string>Ka</string>
	   <key>Answers</key>
	   <array>
	    <string>Ta</string>
	    <string>Ka</string>
	    <string>Te</string>
	    <string>Ne</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>き</string>
	   <key>CorrectAnswer</key>
	   <string>Ki</string>
	   <key>Answers</key>
	   <array>
	    <string>A</string>
	    <string>Ki</string>
	    <string>Zu</string>
	    <string>Po</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>く</string>
	   <key>CorrectAnswer</key>
	   <string>Ku</string>
	   <key>Answers</key>
	   <array>
	    <string>Ga</string>
	    <string>Wa</string>
	    <string>Ru</string>
	    <string>Ku</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>け</string>
	   <key>CorrectAnswer</key>
	   <string>Ke</string>
	   <key>Answers</key>
	   <array>
	    <string>Ka</string>
	    <string>Ke</string>
	    <string>Te</string>
	    <string>He</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>こ</string>
	   <key>CorrectAnswer</key>
	   <string>Ko</string>
	   <key>Answers</key>
	   <array>
	    <string>Ko</string>
	    <string>Nu</string>
	    <string>Mu</string>
	    <string>Ku</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>さ</string>
	   <key>CorrectAnswer</key>
	   <string>Sa</string>
	   <key>Answers</key>
	   <array>
	    <string>Ta</string>
	    <string>Ne</string>
	    <string>Su</string>
	    <string>Sa</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>し</string>
	   <key>CorrectAnswer</key>
	   <string>Shi</string>
	   <key>Answers</key>
	   <array>
	    <string>Ki</string>
	    <string>Tsu</string>
	    <string>Chi</string>
	    <string>Shi</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>す</string>
	   <key>CorrectAnswer</key>
	   <string>Su</string>
	   <key>Answers</key>
	   <array>
	    <string>Se</string>
	    <string>Su</string>
	    <string>Tsu</string>
	    <string>Ke</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>せ</string>
	   <key>CorrectAnswer</key>
	   <string>Se</string>
	   <key>Answers</key>
	   <array>
	    <string>giga</string>
	    <string>tera</string>
	    <string>mega</string>
	    <string>ultra</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>そ</string>
	   <key>CorrectAnswer</key>
	   <string>So</string>
	   <key>Answers</key>
	   <array>
	    <string>So</string>
	    <string>Se</string>
	    <string>Wa</string>
	    <string>Wo</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>た</string>
	   <key>CorrectAnswer</key>
	   <string>Ta</string>
	   <key>Answers</key>
	   <array>
	    <string>Ta</string>
	    <string>A</string>
	    <string>O</string>
	    <string>Se</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>ち</string>
	   <key>CorrectAnswer</key>
	   <string>Chi</string>
	   <key>Answers</key>
	   <array>
	    <string>Ne</string>
	    <string>Chi</string>
	    <string>Tsu</string>
	    <string>Chi</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>つ</string>
	   <key>CorrectAnswer</key>
	   <string>Tsu</string>
	   <key>Answers</key>
	   <array>
	    <string>Ku</string>
	    <string>Shi</string>
	    <string>Tsu</string>
	    <string>Wa</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>て</string>
	   <key>CorrectAnswer</key>
	   <string>Te</string>
	   <key>Answers</key>
	   <array>
	    <string>To</string>
	    <string>Shi</string>
	    <string>Te</string>
	    <string>Ka</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>と</string>
	   <key>CorrectAnswer</key>
	   <string>To</string>
	   <key>Answers</key>
	   <array>
	    <string>To</string>
	    <string>Ka</string>
	    <string>Ta</string>
	    <string>Te</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>な</string>
	   <key>CorrectAnswer</key>
	   <string>Na</string>
	   <key>Answers</key>
	   <array>
	    <string>Hi</string>
	    <string>Na</string>
	    <string>To</string>
	    <string>Ko</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>に</string>
	   <key>CorrectAnswer</key>
	   <string>Ni</string>
	   <key>Answers</key>
	   <array>
	    <string>Ni</string>
	    <string>Ki</string>
	    <string>Ri</string>
	    <string>Mi</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>ぬ</string>
	   <key>CorrectAnswer</key>
	   <string>Nu</string>
	   <key>Answers</key>
	   <array>
	    <string>Nu</string>
	    <string>Fu</string>
	    <string>Ta</string>
	    <string>Na</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>ね</string>
	   <key>CorrectAnswer</key>
	   <string>Ne</string>
	   <key>Answers</key>
	   <array>
	    <string>Me</string>
	    <string>Mo</string>
	    <string>Te</string>
	    <string>Ne</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>の</string>
	   <key>CorrectAnswer</key>
	   <string>No</string>
	   <key>Answers</key>
	   <array>
	    <string>Ma</string>
	    <string>No</string>
	    <string>Ho</string>
	    <string>Nu</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>は</string>
	   <key>CorrectAnswer</key>
	   <string>Ha</string>
	   <key>Answers</key>
	   <array>
	    <string>Ta</string>
	    <string>Ha</string>
	    <string>Mu</string>
	    <string>Mi</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>ひ</string>
	   <key>CorrectAnswer</key>
	   <string>Hi</string>
	   <key>Answers</key>
	   <array>
	    <string>Hi</string>
	    <string>Ma</string>
	    <string>To</string>
	    <string>He</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>ふ</string>
	   <key>CorrectAnswer</key>
	   <string>Fu</string>
	   <key>Answers</key>
	   <array>
	    <string>Chi</string>
	    <string>Tsu</string>
	    <string>To</string>
	    <string>Fu</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>へ</string>
	   <key>CorrectAnswer</key>
	   <string>He</string>
	   <key>Answers</key>
	   <array>
	    <string>Na</string>
	    <string>Ho</string>
	    <string>No</string>
	    <string>He</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>ほ</string>
	   <key>CorrectAnswer</key>
	   <string>Ho</string>
	   <key>Answers</key>
	   <array>
	    <string>Ku</string>
	    <string>Ho</string>
	    <string>Shi</string>
	    <string>Se</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>ま</string>
	   <key>CorrectAnswer</key>
	   <string>Ma</string>
	   <key>Answers</key>
	   <array>
	    <string>Ma</string>
	    <string>Mu</string>
	    <string>Te</string>
	    <string>To</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>み</string>
	   <key>CorrectAnswer</key>
	   <string>Mi</string>
	   <key>Answers</key>
	   <array>
	    <string>Ha</string>
	    <string>To</string>
	    <string>Mi</string>
	    <string>Wo</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>む</string>
	   <key>CorrectAnswer</key>
	   <string>Mu</string>
	   <key>Answers</key>
	   <array>
	    <string>Se</string>
	    <string>Mu</string>
	    <string>Tsu</string>
	    <string>Nu</string>
	   </array>
	  </dict>
	  <dict>
	   <key>Question</key>
	   <string>め</string>
	   <key>CorrectAnswer</key>
	   <string>Me</string>
	   <key>Answers</key>
	   <array>
	    <string>Se</string>
	    <string>Mu</string>
	    <string>Ne</string>
	    <string>Me</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>も</string>
	   <key>CorrectAnswer</key>
	   <string>Mo</string>
	   <key>Answers</key>
	   <array>
	    <string>Mu</string>
	    <string>Mo</string>
	    <string>No</string>
	    <string>Ne</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>や</string>
	   <key>CorrectAnswer</key>
	   <string>Ya</string>
	   <key>Answers</key>
	   <array>
	    <string>Hi</string>
	    <string>Ya</string>
	    <string>Fu</string>
	    <string>Mu</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>ゆ</string>
	   <key>CorrectAnswer</key>
	   <string>Yu</string>
	   <key>Answers</key>
	   <array>
	    <string>We</string>
	    <string>Ru</string>
	    <string>Yu</string>
	    <string>Ra</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>よ</string>
	   <key>CorrectAnswer</key>
	   <string>Yo</string>
	   <key>Answers</key>
	   <array>
	    <string>No</string>
	    <string>Ya</string>
	    <string>Wa</string>
	    <string>Yo</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>ら</string>
	   <key>CorrectAnswer</key>
	   <string>Ra</string>
	   <key>Answers</key>
	   <array>
	    <string>Ko</string>
	    <string>Ge</string>
	    <string>Mu</string>
	    <string>Ra</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>り</string>
	   <key>CorrectAnswer</key>
	   <string>Ri</string>
	   <key>Answers</key>
	   <array>
	    <string>Ki</string>
	    <string>Si</string>
	    <string>Ri</string>
	    <string>Ni</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>る</string>
	   <key>CorrectAnswer</key>
	   <string>Ru</string>
	   <key>Answers</key>
	   <array>
	    <string>Po</string>
	    <string>Ha</string>
	    <string>Ru</string>
	    <string>Ho</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>れ</string>
	   <key>CorrectAnswer</key>
	   <string>Re</string>
	   <key>Answers</key>
	   <array>
	    <string>He</string>
	    <string>Re</string>
	    <string>Tsu</string>
	    <string>Ra</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>ろ</string>
	   <key>CorrectAnswer</key>
	   <string>Ro</string>
	   <key>Answers</key>
	   <array>
	    <string>Ro</string>
	    <string>Ri</string>
	    <string>Su</string>
	    <string>Chi</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>わ</string>
	   <key>CorrectAnswer</key>
	   <string>Wa</string>
	   <key>Answers</key>
	   <array>
	    <string>Ra</string>
	    <string>Ru</string>
	    <string>Sa</string>
	    <string>Wa</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>を</string>
	   <key>CorrectAnswer</key>
	   <string>Wo</string>
	   <key>Answers</key>
	   <array>
	    <string>Wa</string>
	    <string>Yo</string>
	    <string>Wo</string>
	    <string>He</string>
	   </array>
	  </dict> 
	  <dict>
	   <key>Question</key>
	   <string>ん</string>
	   <key>CorrectAnswer</key>
	   <string>N</string>
	   <key>Answers</key>
	   <array>
	    <string>N</string>
	    <string>Sa</string>
	    <string>Wa</string>
	    <string>Ko</string>
	   </array>
	  </dict> 


	  <dict>
	   <key>Question</key>
	   <string>が</string>
	   <key>CorrectAnswer</key>
	   <string>Ga</string>
	   <key>Answers</key>
	   <array>
	    <string>Tsu</string>
	    <string>Ga</string>
	    <string>Su</string>
	    <string>To</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぎ</string>
	   <key>CorrectAnswer</key>
	   <string>Gi</string>
	   <key>Answers</key>
	   <array>
	    <string>Ne</string>
	    <string>Gi</string>
	    <string>Pi</string>
	    <string>Ga</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぐ</string>
	   <key>CorrectAnswer</key>
	   <string>Gu</string>
	   <key>Answers</key>
	   <array>
	    <string>Se</string>
	    <string>Po</string>
	    <string>Ku</string>
	    <string>Gu</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>げ</string>
	   <key>CorrectAnswer</key>
	   <string>Ge</string>
	   <key>Answers</key>
	   <array>
	    <string>Go</string>
	    <string>Ko</string>
	    <string>Ge</string>
	    <string>Se</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ご</string>
	   <key>CorrectAnswer</key>
	   <string>Go</string>
	   <key>Answers</key>
	   <array>
	    <string>Go</string>
	    <string>Ga</string>
	    <string>To</string>
	    <string>Wa</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ざ</string>
	   <key>CorrectAnswer</key>
	   <string>Za</string>
	   <key>Answers</key>
	   <array>
	    <string>Ta</string>
	    <string>To</string>
	    <string>Za</string>
	    <string>Ko</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>じ</string>
	   <key>CorrectAnswer</key>
	   <string>Ji</string>
	   <key>Answers</key>
	   <array>
	    <string>Ji</string>
	    <string>Zu</string>
	    <string>Ne</string>
	    <string>To</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ず</string>
	   <key>CorrectAnswer</key>
	   <string>Zu</string>
	   <key>Answers</key>
	   <array>
	    <string>Nu</string>
	    <string>Zu</string>
	    <string>Se</string>
	    <string>Pu</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぜ</string>
	   <key>CorrectAnswer</key>
	   <string>Ze</string>
	   <key>Answers</key>
	   <array>
	    <string>Ze</string>
	    <string>Mi</string>
	    <string>Nu</string>
	    <string>Se</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぞ</string>
	   <key>CorrectAnswer</key>
	   <string>Zo</string>
	   <key>Answers</key>
	   <array>
	    <string>Ko</string>
	    <string>Zo</string>
	    <string>Zu</string>
	    <string>Ga</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>だ</string>
	   <key>CorrectAnswer</key>
	   <string>Da</string>
	   <key>Answers</key>
	   <array>
	    <string>Ja</string>
	    <string>Ji</string>
	    <string>Do</string>
	    <string>Da</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぢ</string>
	   <key>CorrectAnswer</key>
	   <string>Ji</string>
	   <key>Answers</key>
	   <array>
	    <string>Ki</string>
	    <string>Se</string>
	    <string>Ji</string>
	    <string>Ma</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>づ</string>
	   <key>CorrectAnswer</key>
	   <string>Zu</string>
	   <key>Answers</key>
	   <array>
	    <string>Ma</string>
	    <string>Zu</string>
	    <string>Sa</string>
	    <string>Su</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>で</string>
	   <key>CorrectAnswer</key>
	   <string>De</string>
	   <key>Answers</key>
	   <array>
	    <string>No</string>
	    <string>Su</string>
	    <string>He</string>
	    <string>De</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ど</string>
	   <key>CorrectAnswer</key>
	   <string>Do</string>
	   <key>Answers</key>
	   <array>
	    <string>Ta</string>
	    <string>Ne</string>
	    <string>Do</string>
	    <string>Te</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ば</string>
	   <key>CorrectAnswer</key>
	   <string>Ba</string>
	   <key>Answers</key>
	   <array>
	    <string>Ro</string>
	    <string>Se</string>
	    <string>Bo</string>
	    <string>Ki</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>び</string>
	   <key>CorrectAnswer</key>
	   <string>Bi</string>
	   <key>Answers</key>
	   <array>
	    <string>Bi</string>
	    <string>Ha</string>
	    <string>Hi</string>
	    <string>Ku</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぶ</string>
	   <key>CorrectAnswer</key>
	   <string>Bu</string>
	   <key>Answers</key>
	   <array>
	    <string>Ra</string>
	    <string>Hu</string>
	    <string>Bu</string>
	    <string>Nu</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>べ</string>
	   <key>CorrectAnswer</key>
	   <string>Be</string>
	   <key>Answers</key>
	   <array>
	    <string>Sa</string>
	    <string>Be</string>
	    <string>Yo</string>
	    <string>Ne</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぼ</string>
	   <key>CorrectAnswer</key>
	   <string>Bo</string>
	   <key>Answers</key>
	   <array>
	    <string>Shi</string>
	    <string>Bo</string>
	    <string>Ho</string>
	    <string>Chi</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぱ</string>
	   <key>CorrectAnswer</key>
	   <string>Pa</string>
	   <key>Answers</key>
	   <array>
	    <string>Se</string>
	    <string>Pa</string>
	    <string>Tsu</string>
	    <string>Su</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぴ</string>
	   <key>CorrectAnswer</key>
	   <string>Pi</string>
	   <key>Answers</key>
	   <array>
	    <string>Pi</string>
	    <string>Mu</string>
	    <string>Ni</string>
	    <string>Fu</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぷ</string>
	   <key>CorrectAnswer</key>
	   <string>Pu</string>
	   <key>Answers</key>
	   <array>
	    <string>Ka</string>
	    <string>Pu</string>
	    <string>Wa</string>
	    <string>Bu</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぺ</string>
	   <key>CorrectAnswer</key>
	   <string>Pe</string>
	   <key>Answers</key>
	   <array>
	    <string>Pe</string>
	    <string>Ra</string>
	    <string>Pi</string>
	    <string>Pa</string>
	   </array>
	  </dict> 

	  <dict>
	   <key>Question</key>
	   <string>ぽ</string>
	   <key>CorrectAnswer</key>
	   <string>Po</string>
	   <key>Answers</key>
	   <array>
	    <string>Na</string>
	    <string>Bu</string>
	    <string>Ro</string>
	    <string>Po</string>
	   </array>
	  </dict> 



	 </array>
	</dict>
</plist>
